h1 {
    text-align: center;
    color: rgb(3, 206, 3);
}
body {
    background-color: darkgreen;
    color: rgb(3, 206, 3);
}
a {
    text-align: center;
    text-decoration: none;
    color: rgb(3, 206, 3);
    padding: 10px;
}
a:hover {
    background-color: rgb(1, 138, 1);
}
#menu {
    margin: auto;
    width: 35%;
    //border: black solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}
table {
    border: 2px solid rgb(1, 138, 1);
    border-collapse: collapse;
    margin: auto;  
    width: 50%;
}
th, td {
    border: 1px solid rgb(1, 138, 1);
    padding: 10px;
    text-align: center;
    
}
#body {
    width: 55%;
    margin: auto;
    //border: black solid 3px;
    padding: 15px;
    background-color: rgb(1, 53, 1);    
}
.link {
    text-transform: uppercase;
}